<h2 class="text-center">Post API, Put API & Delete API</h2>
<app-alert [message]="'This is Post Api'"></app-alert>
<div class="row gap-2 justify-content-around">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Logo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for(data of getallData;track $index){
                <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>{{$index+1}}</td>
                    <td>{{data.departmentName}}</td>
                    <td>{{data.departmentLogo}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="onEdit(data)">Edit</button>
                        <button class="btn btn-danger" (click)="onDelete(data.departmentId)">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-5">
        <form>
            <div class="mb-3">
                <label for="departmentName" class="form-label">Department Name</label>
                <input type="text" class="form-control" id="departmentName" [(ngModel)]="deptObj.departmentName"
                    name="name">
            </div>
            <div class="mb-3">
                <label for="departmentLogo" class="form-label">Department Logo</label>
                <input type="text" class="form-control" id="departmentLogo" [(ngModel)]="deptObj.departmentLogo"
                    name="logo">
            </div>
            <div class="text-center">
                @if(deptObj.departmentId == 0){
                <button type="submit" class="btn btn-success " (click)="onPost()">Save</button>

                }@else {
                <button type="submit" class="btn btn-danger " (click)="onUpdate()">Update</button>

                }
            </div>
        </form>
    </div>

</div>