<h2 class="text-center">Pipes</h2>

<div>
    <div class="flex">
        <span class="text-primary">Before Pipe</span>&nbsp;
        <span>{{country}}</span>
    </div>

    <div class="flex justify-content-between">
        <span class="text-success">After Pipe</span> &nbsp;
        <span>{{country | uppercase}}</span>
    </div> 

</div>
<div class="mt-5">
    <div class="flex">
        <span class="text-primary">Before Date Pipe</span>&nbsp;
        <span>{{currentDate}}</span>
    </div>

    <div class="flex justify-content-between">
        <span class="text-success">After Date Pipe</span> &nbsp;
        <span>{{currentDate | date}}</span>
    </div> 

</div>


